<div class='panel panel-secondary panel-flex' style="padding-bottom: 10px">
    <!-- BEGIN crs -->
    <div class='panel-heading ilHeader clearfix'>
        <h4>{TXT_BLOCK_HEADER}</h4>
        <div class="dropdown">
            {TOGGLE_BUTTON}

        </div>
    </div>
    <div  class='panel-body' >
        <div style='margin: auto;'>
                <div class="col-sm-12" style="padding-bottom: 0.5em">
                    {INFO_ALLOW_LP2LRS}
                </div>
                <div class="col-sm-12">
                    <b>{HEADER_PRIVACY_LRS_TITLE}</b>
                    <h4>{PRIVACY_LRS_TITLE}</h4>
                    <b>{HEADER_PRIVACY_NAME_MODE}</b>
                    <h4>{PRIVACY_IDENT_MODE}</h4>
                    <b>{HEADER_PRIVACY_IDENT_MODE}</b>
                    <h4>{PRIVACY_NAME_MODE}</h4>
                </div>
                <p>&nbsp;</p>
        </div>
    </div>
    <!-- END crs -->
</div>
